<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Poczta Int.pl_Tests">
    <test name="Tests">
        <classes>
            <class name="Tests.loginTest.NegativeLoginTests"/>
            <class name="Tests.loginTest.PositiveLoginTests"/>
        </classes>
    </test>
</suite>